
    body{
        padding:3em;
    }
    .calculatorMain{
        border:solid black;
        margin:1em;
        height: 85vh;
        padding-top:1.5em;
        border-radius:22px;
        background-color:lemonchiffon;
    }
    .screen{
        border:solid black;
        background-color: slategray;
        height:8vh;
        margin:.5em;
        border-radius:22px;
        padding:1em;
        text-align:right;
        color:white;
        font-size:32px;
        margin-bottom:.5em;
    }
    .calcRow{
        /* border:solid blue; */
        border-width:.2px;
        margin:1em;
        height:vh;
        display:flex;
        justify-content: space-evenly;
    }
    .key{
        border:solid black;
        /* border-width:.2px; */
        width:20%;
        border-radius:22px;
        text-align:center;
        font-size:42px;
        padding-top:22px;
    }
    .key:hover{
        border:solid black;
        width:20%;
        border-radius:22px;
        text-align:center;
        font-size:42px;
        padding-top:22px;
        background-color:green;
        color:white;
    }
    .title{
        text-align:center;
    }