.navbar{
    background-color:grey;
    height:22vh;
    padding-top:10px;
    color:white;
}
.itroContainer{
    border: solid rgb(153, 34, 34);
    
}

}
.skillsContainer{
    border: solid rgb(0, 0, 0);
    
}
}
.xpContainer{
    border: solid rgb(0, 0, 0);
}
}

